* {
  outline: 1px red dashed;
}

h1 {
  text-align: center;
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

header {
  margin: 10px 0;
}

nav {
  text-align: center;
  clear: both;
}

nav li {
  display: inline;
  font-size: 20px;
}

.instructions, .high_score {
  width: 70%;
  margin: 10px auto;
}

form {
  width: 300px;
  margin: auto;
}

input {
  display: block;
  margin: 5px calc(30% - 20px);
}

.hidden {
  display: hidden;
}

td {
  max-width: 200px;
  max-height: 200px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.scuttling {
  width: 630px;
  margin: 0 auto;
}

.people {
  float: left;
  max-width: 200px;
  margin-right: 15px;
}

.scuttling div:last-child {
  margin-right: 0px;
}
