@font-face {
  font-family: 'EraserRegular';
  src: url('fonts/EraserRegular.ttf');
}

@font-face {
  font-family: 'PPETRIAL';
  src: url('fonts/PPETRIAL.ttf');
}

@font-face {
  font-family: 'DJB_Chalk_It_Up';
  src: url('fonts/DJB_Chalk_It_Up.ttf');
}

/** {
  outline: 1px red dashed;
}*/

html {
  min-height: 100%;
}

body {
  background-color: rgb(245, 245, 220);
  background-image: -moz-linear-gradient(rgb(245, 245, 220), rgb(211, 211, 211));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(245, 245, 220)), to(rgb(211, 211, 211)));
  background-image: -webkit-linear-gradient(rgb(245, 245, 220), rgb(211, 211, 211));
  background-image: -o-linear-gradient(rgb(245, 245, 220), rgb(211, 211, 211));
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-size: 69px;
  font-family: 'DJB_Chalk_It_Up';
  color: white;
}

h2, legend {
  font-size: 28px;
  font-family: 'PPETRIAL';
  font-weight: bold;
}

h3 {
  text-align: center;
  font-size: 45px;
  font-family: 'DJB_Chalk_It_Up';
  color: white;
}

header, footer {
  margin: 10px auto;
  border: 40px solid transparent;
  padding: 40px 20px;
  width: 800px;
  height: 61px;
  background-image: url('imgs/chalkboard.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  border-image: url('imgs/frame.png') 40 40;
}

nav.navtop {
  /* margin-top: 40px; */
  text-align: center;
  position: relative;
  top: 32px;
  clear: both;
  height: 40px;
}

footer {
  height: 0px;
  padding: 0 20px;
  margin: 0 auto;
}

nav.navfooter {
  text-align: center;
  height: 40px;
  position: relative;
  top: -18px;
}

.navlist {
  background-image: url('imgs/metalplate.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 160px;
  height: 40px;
  margin: 0 10px;
}

a.navlink {
  position: relative;
  font-size: 24px;
  font-family: 'Suez One', serif;
  color: rgb(60, 60, 60);
  text-shadow: -1.5px -1.5px 1.5px #000;
  text-decoration: none;
  top: 9px;
  left: 6px;
}

a:visited {
  color: rgb(30, 30, 30);
}

.tablebackground {
  width: 880px;
  margin: 20px auto;
  background-image: url('imgs/tablecrop.png');
  background-size: 100% 100%;
  padding: 20px;
}

.tablebackground_game {
  width: 1000px;
  min-height: 250px;
  height: 100%;
  margin: 10px auto;
  background-image: url('imgs/tablecrop.png');
  background-size: 100% 100%;
  padding: 20px;
}
.hint {
  margin: 0 auto;
}
.hint h3{
  font-size: 20px;
  color: black;
}
.hint img{
  margin: 0 614px;
  max-height: 40px;
  max-width: 40px;
}


.instructions {
  width: 560px;
  padding: 20px 80px;
  margin: 40px auto;
  background-image: url('imgs/paper.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

hr {
  height: 0;
  border: 1px solid black;
}

p {
  font-family: 'PPETRIAL';
  font-size: 20px;
}

#form_background {
  width: 380px;
  height: 340px;
  padding: 10px;
  margin: 20px auto;
  background-image: url('imgs/postitnote.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

form {
  width: 282px;
  margin: 50px auto;
}

legend {
  text-align: center;
}

fieldset {
  width: 220px;
  padding: 15px;
  margin: 15px;
}

label {
  font-family: 'PPETRIAL';
  font-size: 20px;
  font-weight: bold;
}

input {
  display: block;
  width: 220px;
  margin-top: 0;
  margin-bottom: 6px;
}

.submit_button {
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: rgb(250, 128, 114);
  border: 1px solid black;
  padding: 2px;
  font-family: 'PPETRIAL';
  font-weight: bold;
  font-size: 24px;
}

button:hover {
  box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.hidden {
  display: hidden;
}

table {
  height: 100%;
  /*width: 100%;*/
  /*margin-left: 10px;*/
}

td {
  max-width: 200px;
  max-height: 200px;
  padding: 3px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.scuttling {
  width: 630px;
  height: 1000px;
  margin: 0 auto;
}

.people {
  float: left;
  max-width: 200px;
  margin-right: 15px;
}

.scuttling div:last-child {
  margin-right: 0px;
}
